a{
    text-decoration: none;
}

.page_body{
    margin: 0;
    font-family: sans-serif;
}

.container{
    padding-top: 32px;
    padding-bottom: 32px;
    max-width: 635px;
    margin-left: auto;
    margin-right: auto;
}

.nav-bar{
    display: inline-block;
}

.nav-list{
    display: inline-block;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-item{
    display: inline-block;
    margin-right: 72px;
}

li:last-child{
    margin: 0;
}

.nav-link{
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    text-align: center;
    color: #000;
}

/*.main_content{
    
}*/

.banner-image{
    padding: 92px 400px;
    background-size: cover;
    background: #00bdc9;   
}

.content{
    padding: 88px 0px;
    max-width: 872px;
    height: 920px;
    margin-left: auto;
    margin-right: auto;
}

.content-title{
    font-weight: 600;
    font-size: 48px;
    line-height: 135%;
    color: #000;
    text-align: center;
    margin: 0;
}

.content-discr{
    padding: 40px 0px;
}

.content-text{
    font-weight: 500;
    font-size: 21px;
    line-height: 150%;
    color: #161616;
    margin-top: 0;
    margin-bottom: 24;
}

.content-text-bold{
    font-weight: 600;
    color: #04959e;
}

.content-list{
    margin: 0;
    padding-left: 2%;
}

.content-item{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #161616;
}

.content-btn{
    text-align: center;
}

.btn{
    padding: 10px;
    width: 165px;
    height: 64px;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #fff; 
    background: #04959e; 
}

.line{
    height: 1px;
    background: #161616;
    margin: 0;
}

.footer-container{
    padding: 16px 0px;
    width: 856px;
    height: 59px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #161616;
}